@model DentalCenter.Models.Doctor

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<main role="main" class="pb-3">
    <div class="contact-img edit-doctor"></div>
    <div class="container">
        <h1 class="title">Редактирование</h1>

        <div class="card-view">
            <div class="col">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="DoctorId" />
                    <div class="edit-view-info">
                        <div class="edit-view">
                            <div class="form-group">
                                <label asp-for="Email" class="control-label"></label>
                                <input readOnly asp-for="Email" class="form-control" />
                                <span asp-validation-for="Email" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoctorSurname" class="control-label"></label>
                                <input asp-for="DoctorSurname" class="form-control" />
                                <span asp-validation-for="DoctorSurname" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoctorName" class="control-label"></label>
                                <input asp-for="DoctorName" class="form-control" />
                                <span asp-validation-for="DoctorName" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoctorPatronymic" class="control-label"></label>
                                <input asp-for="DoctorPatronymic" class="form-control" />
                                <span asp-validation-for="DoctorPatronymic" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoctorSpecialization" class="control-label"></label>
                                <input asp-for="DoctorSpecialization" class="form-control" />
                                <span asp-validation-for="DoctorSpecialization" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DoctorCabinet" class="control-label"></label>
                                <input asp-for="DoctorCabinet" class="form-control" />
                                <span asp-validation-for="DoctorCabinet" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="edit-img">
                            @if (ViewBag.Photodata != null)
                            {
                                <img class="img-edit-card" width="300" src="data:image/jpeg;base64,@(Convert.ToBase64String(ViewBag.Photodata))">
                            }
                            <input type="hidden" name="Photo" value="@Model.DoctorPhoto" />
                            <div class="form-group">
                                <div class="mt-4">
                                    <input type="file" name="upload" class="form-control choose-photo" /><br>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group edit-btn">
                        <input type="submit" value="Сохранить" class="btn btn-primary" />
                        <a class="btn btn-primary" asp-action="Index">Назад</a>
                    </div>
                    <input type="hidden" asp-for="IdentityUserId" value="@Model.IdentityUser.Id" />
                </form>
            </div>
        </div>
        
        @section Scripts {
            @{
                await Html.RenderPartialAsync("_ValidationScriptsPartial");
            }
        }

    </div>
</main>