*{
    margin: 0;
    padding: 0;
}

ul{
    list-style: none;
}

html {
    position: relative;
    font-size: 14px;
    min-height: 100%;
}

@media (min-width: 768px) {
    html {
    font-size: 16px;
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%
}

main{
    flex: 1 0 auto;
}

footer{
    position: relative !important;
    flex: 0 0 auto !important;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}


/*Шапка*/

@media (min-width: 1400px) {
    header-container{
        max-height: 1320px !important;
        margin: 0 auto !important;
    }
}

.navbar-view {
    display: flex;
    justify-content: space-between;
}

.navbar-nav{
    justify-content: end;
}

.nav-item {
    margin-left: 30px !important;
}

.nav-link {
    font-size: 18px;
    font-weight: 500;
    padding: 0 !important;
    position: relative;
    transition: all .5s ease;
}

.nav-link:hover {
    color: #583FBC !important;
    text-shadow: 0 0 .85px #583FBC, 0 0 .85px #583FBC;
}

.nav-link::after {
    background: none repeat scroll 0 0 transparent;
    bottom: -3px;
    content: "";
    display: block;
    height: 2px;
    right: 50%;
    position: absolute;
    background: linear-gradient(to left, #583FBC, #583FBC 100%);
    transition: width .5s ease 0s, right .5s ease 0s;
    width: 0;
}

.nav-link:hover::after {
    width: 100%;
    right: 0;
}

.menu__link_active {
    color: #583FBC !important;
    text-shadow: 0 0 .85px #583FBC, 0 0 .85px #583FBC;
}

.menu__link_active::before {
    right: 0;
    content: '';
    width: 100%;
    bottom: -3px;
    display: block;
    position: absolute;
    transition: all .5s ease;
    border-bottom: solid 2px #61C6FF;
}

.dropdown-cabinet {
    padding: 13px 25px;
    background-color: #583FBC;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #fff !important;
    font-weight: 500;
    transition: 0.5s ease all;
}

.dropdown-cabinet:hover {
    background-color: #583ff6;
}

.topmenu > li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
}

.topmenu > li:last-child {
    margin-right: 0;
}

.submenu {
    position: absolute;
    height: 0;
    right: 0;
    width: 370px;
    z-index: 10;
    -webkit-transition: 0.4s ease-out;
    -moz-transition: 0.4s ease-out;
    -o-transition: 0.4s ease-out;
    transition: 0.4s ease-out;
    overflow: hidden;
    opacity: 0;
    background: #DBDEFA;
    padding: 20px;
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.25);
}

ul li:hover .submenu {
    overflow: visible;
    height: auto;
    opacity: 1;
    border-radius: 12px 0 12px 12px;
}

ul li:hover .dropdown-cabinet {
    border-radius: 12px 12px 0 0;
}

.submenu-user {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #747373;
    margin-bottom: 15px;
}

.submenu-user-logo{
    
}

.submenu-title {
    color: #444444;
    margin: 0 0 0 10px;
    font-weight: 500;
}

.submenu-link {
    background-color: #DBDEFA;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: #2c2c2c;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    border: none;
    transition: 0.5s ease all;
}

.submenu-link:hover {
    background-color: #583FBC;
    color: #fff;
}

.submenu li:nth-last-child(n+2){
    margin-bottom: 7px;
}

/*Шапка*/

/*футер*/

footer {
    background-color: #041434;
}
.footer-view{
    padding: 100px 0 50px 0;
}

.footer-columns{
    display: flex;
    justify-content: space-between;
}

.footer-column--title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.footer-logotype-desc {
    margin: 30px 0 65px 0;
    font-size: 18px;
    font-weight: 500;
    line-height: 28px;
}

.footer-follow-soc {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.footer-follow-soc--img{
    display: flex;
    gap: 25px;
}

.navbar-nav-footer{
    line-height: 35px;
    padding: 0;
}

.nav-item-footer {
    list-style: none;
}

.nav-link--footer{
    text-decoration: none;
    color: #fff;
    transition: 0.5s ease all;
}

.nav-link--footer:hover{
    color: #583FBC;
    transition: 0.5s ease all;
}

.soc-img--view {
    cursor: pointer;
}

.third-column-svg{
    margin-right: 25px;
}

.third-column-subtitle {
    margin: 0 0;
    line-height: 20px;
}

.third-column--link {
    line-height: 20px;
    text-decoration: none;
    color: #fff !important;
    font-size: 18px;
    margin: 0 0;
}

.footer-navigate{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.phone {
    display: flex;
}

.phone-div{
    display: flex;
    flex-direction: column;
    justify-content:space-around
}

.hour {
    display: flex;
}

.hour-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.map {
    display: flex;
}

.map-div {
    display: flex;
    flex-direction: column;
    justify-content: space-around
}

.map-link{
    cursor: pointer;
}

.footer-privacy{
    color: #fff !important;
    text-decoration: none;
}

/*Футер*/

/*Авторизация*/

.pb-3-auto-reg{
    width: 90%;
    padding: 65px 0;
    background-color: #DBEFFA;
    margin: 50px auto 60px auto;
    border-radius: 50px;
}

.autorezation {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.row-main-title {
    font-size: 50px;
    padding-bottom: 25px;
    position: relative;
    color: #2c2c2c;
    margin: auto;
}

.row-main-title::before {
    content: "";
    position: absolute;
    left: 23%;
    bottom: 27px;
    width: 330px;
    height: 14px;
    transform: skew(-15deg) translateX(-25%);
    background: rgba(88,66,188,0.5);
    z-index: 0;
}

.row-subtitle {
    margin: auto;
    padding-bottom: 65px;
    font-size: 22px;
    color: #2c2c2c;
}

.form-check-input {
    outline: none;
}

.form-label{
    color: #2c2c2c;
}

.form-control{
    font-size: 18px;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(83, 66, 188, 0.25);
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(83, 66, 188, 0.25);
}
.form-check-input:checked {
    background-color: #583FBC;
    border-color: #583FBC;
}

.btn-primary {
    background-color: #583FBC;
    border: none;
}

.btn-auto-reg {
    width: 300px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    transition: 0.5s ease all;
}

.btn-primary:hover{
    background-color: #583FF6;
}

.row-sublink{
    margin: 5px 0 0 0;
}

.sublink{
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: #2c2c2c;
    transition: 0.5s ease all;
}

.sublink:hover{
    color: #583ff6;
    transition: 0.5s ease all;
}

/*Авторизация*/

/*Регистрация*/

.col-md-4-register{
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 50%;
}

.title-register::before{
    width: 310px;
    left: 23%;
}

.btn-view{
    display: flex;
    justify-content:space-between;
}

.btn-auto-reg:hover{
    background-color: #583FBC;
    color: #fff;
    transition: 0.5s ease all;
}

.row-link{
    background-color: #DBEFFA;
    color: #583FBC;
    border-radius: 0.3em;
    border: 2px solid #583FBC;
}

.form-usertype{
    visibility: hidden;
}
/*Регистрация*/

/*Контакты*/

.contact-img {
    width: 95%;
    height: 25%;
    position: absolute;
    z-index: -99;
    background-color: #DBEFFA;
    border-radius: 48px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.title {
    font-weight: 700;
    font-size: 42px;
    line-height: 81px;
    margin: 60px 0 30px;
    text-align:center;
    color: #181945;

}

.subtitle {
    margin-bottom: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #181945;
    text-align: center;
}

.contact{
    margin-bottom: 150px;
}

.contact-title{
    margin: 40px 0;
}

.form {
    width: 80%;
    background: #FFF;
    border-radius: 48px;
    padding: 80px 110px;
    margin: 0 auto 60px;
    box-shadow: 0px 5px 30px 15px rgba(34, 60, 80, 0.3);
}

.form-input-row{
    display:flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.contact-input{
    width: 260px;
}

.contact-mes{
    height: 200px !important;
}

.btn-send{
    padding: 8px 50px;
}

.table {
    box-shadow: 0px 5px 30px 15px rgba(34, 60, 80, 0.3);
}


th {
    border-top: 1px solid #77777780;
    border-bottom: 1px solid #77777780;
    box-shadow: inset 0 1px 0 #999999, inset 0 -1px 0 #999999;
    background: linear-gradient(#583FBC, #583f96);
    color: white;
    padding: 10px 15px;
    position: relative;
    text-align: center;
}

th:after  {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 25%;
    height: 25%;
    width: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0), rgba(255,255,255,.08));
}

tr:nth-child(odd) {
    background: #86b7fe50;
}

th:first-child {
    border-left: 1px solid #77777780;
    border-bottom: 1px solid #77777780;
    box-shadow: inset 1px 1px 0 #999999, inset 0 -1px 0 #999999;
}

th:last-child {
    border-right: 1px solid #77777780;
    border-bottom: 1px solid #77777780;
    box-shadow: inset -1px 1px 0 #999999, inset 0 -1px 0 #999999;
}

td {
    border: 1px solid #e3eef7;
    padding: 10px 15px;
    position: relative;
    transition: all 0.5s ease;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

tbody:hover td {
    color: transparent;
    text-shadow: 0 0 3px #a09f9d;
}

tbody:hover tr:hover td {
    color: #444444;
    text-shadow: none;
}

.contact-map {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.delete-view {
    width: 50%;
    padding: 50px 100px;
    background-color: #fff;
    border-radius: 48px;
    margin: 0 auto 90px;
    box-shadow: 0px 5px 30px 15px rgba(34, 60, 80, 0.3);
}

.subtitle-delete{
    margin: 30px 0;
    text-align: center;
    font-size: 32px;
}

.contact-img-delete {
    height: 45%;
}

.btn-delete{
    padding: 8px 50px;
}

.check-head-table:checked {
    background-color: #86b7fe;
    border-color: #86b7fe;
}

.contact-background{
    width: 100%;
    height: 800px;
}
/*Контакты*/
/* попап */
.popup-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.8);
    display: none;
    z-index: 999;
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding: 24px;
    background-color: #fff;
}

.popup__text {
    font-weight: 500;
    line-height: 130%;
    letter-spacing: 1px;
}

.popup__close {
    position: absolute;
    cursor: pointer;
    width: 25px;
    height: 25px;
    top: 5px;
    right: 3px;
}

.no-scroll {
    overflow-y: hidden;
}

.choice__input_invalid {
    border: 1px solid red;
}

/* попап */

